* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.first-talk{
    display: flex;
    align-items: center;
    font-size: 30px;
    height: 300px;
    width: 75%;
    box-sizing: border-box;
    text-align: center;
    margin-left: 12%;
    font-family: 'Gloria Hallelujah', cursive;
}

body{
    background-image: url("https://images.pexels.com/photos/1661689/pexels-photo-1661689.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    opacity: 2;
    
}



#header{
    border: 3px solid;
    color: black;
   border-radius: 20px;
    background-color: whitesmoke;   

}
#search-bar{
      width: 90px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 10px;
      outline:none;
      padding: 12px 14px;
      transition: 0.6s ease-in-out;
      font-size: 20px;
      position: fixed;
      top: 100px;
      z-index: 999;
      

}   
#search-bar:focus{
    width: 300px;
    background-color:pink;
    height: 50px;
}



#navigation-bar{
    width: 100%;
    height: 55px;
    display: flex;
    color: black;
    /* justify-content: space-between  ; */
    /* border-radius: 20px; */
    justify-content: space-around;


}
#navigation-bar a{
    text-decoration: none;
    /* margin-left: 110px; */
    font-size: 25px;
    /* border-right: 3px solid; */
 
    color: black ;
    text-transform: capitalize;

    font-family: 'Amatic+SC', cursive;
}




.content{
    height: 600px;
    border: 3px solid;
    border-bottom: none;
    border-radius: 50px;
    width: 100%;
    overflow: hidden;
}
.title{
    font-size: 30px;
    text-align: center;
}
.row{
    height: 200px;
    width: 95%;
  
    display: flex;
    justify-content: space-around;
}
.mood-icon{
    height: 130px;
    width: 120px;
}
.child{
    width: 20%;
    height: 150px;
   
    text-align: center; 
}

.mood-word{
    font-size: 50px;
    font-family: 'Amatic+SC', cursive;

}
   
/* #seperated-bar{
    height: 50px;
    width: 100%;
    background-color: black;
} */
#body{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
#mv{
    height: 520px;
    width: 80%;
    /* margin-left: 20%; */
    display: flex;
    justify-content: center;
    
    
}
.ml10{
    margin-left: 10%
}

.display-left{
    margin-bottom: 100px; 
    position: relative;
    left: 185px;
}
.up {
    display: inline-block;
    position: relative;
    bottom: 150px;
    border: 2px solid;
    border-radius: 10px;
}
#mv {
    display: inline-block;
    position: relative;
    left: 20%
}
.mvs {
    margin-top: 50px;
}
.icon-container{
    height: 300px;
    width: 100%
}
.mr30{
    margin-right:60px;
}
.ml30{
    margin-left: 110px;
}
.title{
    text-align: center;
    font-size: 90px;
    font-family: 'Satisfy', cursive;
}
.genre{
    width: 100%;
    height: 500px;;
}
.column{
    /* float: left; */
    width: 30%;
    height: 300px;
    border: 5px dashed  ;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    color: black;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.see-more {
    font-family: 'Satisfy', cursive;
}
.g-content{
    
}
.left {
    display: inline-block;
    position: relative;
    bottom: 250px;
    border: 2px ;
    border-radius: 10px;
    left: 22%;
    z-index: 999;
    background-color: rgb(234, 234,234);
    font-size: 30px;
    height: 100px;
    width: 50px;
}
.right {
    display: inline-block;
    position: relative;
    bottom: 250px;
    border: 2px ;
    border-radius: 10px;
    /* -6% */
    left: -6%; 
    z-index: 999;
    background-color:rgb(234, 234,234) ;
    font-size: 30px;
    height: 100px;
    width: 50px;
}
.artist{
    width: 100%;
    height: 500px;

}
.mvSlide{
    width: 100%;
    height: 600px;
    border: 4px solid;
    border-radius: 100px;
    border-top:none;
}
.a-img{
    width: 105%;
    height: 300px;
    border-radius: 50px;
    display: block;
}
.see-more{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
}
.a-name{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}
.after-click{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    border: 3px solid;
   
}
.quote{
    /* width: 100px;
    height: 100px; */
    font-size: 50px;
    color: aliceblue;
    font-family: 'Inconsolata', monospace;
}
