* {
    box-sizing: border-box;
}
.first-talk{
    font-size: 50px;
    height: 300px;
    width: 75%;
    box-sizing: border-box;
    text-align: center;
    margin-left: 12%;
    border: 3px solid;  
    border-radius: 10px;
    background-color: lightblue;
}

body{
    /* background-image: url("https://i.ytimg.com/vi/Xpgj8xRy2yk/maxresdefault.jpg"); */
    /* background-image: url("https://i.ytimg.com/vi/mFW-5xeEb0g/maxresdefault.jpg"); */
    /* background-size: cover; */
    /* background-color: whitesmoke; */
    /* background-image: url(https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350); */
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/6966/abstract-music-rock-bw.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    
}



#header{
    border-top: 3px solid;
    color: black;
   
    background-color: whitesmoke;   

}
#search-bar{
      width: 90px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 10px;
      outline:none;
      padding: 12px 14px;
      transition: 0.6s ease-in-out;
      font-size: 20px;
      position: fixed;
      top: 100px;
      z-index: 999;
      

}   
#search-bar:focus{
    width: 300px;
    background-color: pink;
    height: 50px;
}



#navigation-bar{
    width: 100%;
    height: 50px;
    display: flex;
    color: black;
    /* justify-content: space-between  ; */
    border-radius: 20px;
    justify-content: space-between;
}
div a{
    text-decoration: none;
    /* margin-left: 110px; */
    font-size: 30px;
    border-right: 3px solid;
    padding-right: 206px;
    color: black ;
    text-transform: capitalize;
    background-color: lightgray;
}
#content{
    width: 100%;
    height: 1000px;
    /* background-color: black; */
    margin-top: 10px; 
    /* position: relative; */
    display: flex;
    justify-content: center;
    border: 3px solid;
    border-radius: 50px;
    border-bottom: none
}
#recomened{
    background-color:lightcoral;
    height:  1000px;
    width: 25%;
   position: relative;
    
}


#mood{
    height: 100px;
    width: 100%;
    background-color:lavender;  
    /* position: absolute; */
   font-size: 50px;
   /* border: 0.5px solid;*/
   border-radius: 100px; 
   text-align: center;

   

}
.mood-icon{
    
    height: 300px;
    width: 375px;
    padding-right: 190px;

}
.mood-word{
    font-size: 60px;
   padding-right: 80px;
    padding-bottom: 30px;
}
/* #seperated-bar{
    height: 50px;
    width: 100%;
    background-color: black;
} */
#body{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
#mv{
    border: 3px solid;
    border-bottom: none;
    border-radius: 50px;
    height: 520px;
    width: 100%;
    /* margin-left: 20%; */
    display: flex;
    justify-content: center;
    
    
}
.ml10{
    margin-left: 10%
}
.btn{
    height: 50px;
    width: 300px;
    background: lightblue;
    margin-left: 30%;
    display: flex;
    justify-content: center;
   
}
.btn-l{
    height: 40px;
    width: 30px;
    align-self: center; 
   margin-right: 100px;
}
.btn-r{
    height: 40px;
    width: 30px;
    align-self: center;
    justify-content: flex-end;
}
.icon-container{
    height: 300px;
    width: 100%
}
.mr30{
    margin-right:60px;
}
.ml30{
    margin-left: 110px;
}
.title{
    text-align: center;
    font-size: 90px;
}
.g-content{
    
}