* {
    box-sizing: border-box;
}

body{
    /* background-image: url("https://i.ytimg.com/vi/Xpgj8xRy2yk/maxresdefault.jpg"); */
    /* background-image: url("https://i.ytimg.com/vi/mFW-5xeEb0g/maxresdefault.jpg"); */
    /* background-size: cover; */
    /* background-color: whitesmoke; */
    background-image: url(https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350);
    background-size: cover;
    
}



#header{
    border-top: 3px solid;
    color: black;
   
    background-color: whitesmoke;   

}
#search-bar{
      width: 90px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 10px;
      outline:none;
      padding: 12px 14px;
      transition: 0.6s ease-in-out;
      font-size: 20px;
      position: fixed;
      top: 100px;
      z-index: 999;
      

}   
#search-bar:focus{
    width: 300px;
    background-color: pink;
    height: 50px;
}



#navigation-bar{
    width: 100%;
    height: 50px;
  
    display: flex;
    color: black;
    justify-content: space-between  ;
    border-radius: 10px;
    
}
div a{
    text-decoration: none;
    /* margin-left: 110px; */
    font-size: 30px;
    border-right: 3px solid;
    padding-right: 160px;
    color: black ;
    text-transform: capitalize;
}
#content{
    width: 75%;
    height: 500px;
    /* background-color: black; */
    margin-top: 10px; 
    position: relative;
    display: flex;
    justify-content: center;
}
#recomened{
    background-color:lightcoral;
    height: 500px;
    width: 25%;
    
}


#mood{
    height: 500px;
    width: 90%;
    background-color:lavender;  
    position: absolute;
   font-size: 50px;
   /* border: 0.5px solid;*/
   border-radius: 100px; 
   text-align: center;

   

}
.mood-icon{
    
    height: 300px;
    width: 375px;
    padding-right: 100px;

}
.mood-word{
    font-size: 60px;
   padding-right: 80px;
    padding-bottom: 30px;
}
/* #seperated-bar{
    height: 50px;
    width: 100%;
    background-color: black;
} */
#body{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
#mv {
    width: 565px;
    border: 3px solid;
    margin-left: 15%;
    transition: ease-in-out 0.6s;
}
/* .center {
    text-align: center;
} */
.genre {
    height: 500px;
    width: 65%;
    background-color:lavender;
    position: absolute;
   font-size: 50px;
   /* border: 0.5px solid;*/
   border-radius: 100px; 
   text-align: center;
   margin-left: 5%
}

.display-left{
    margin-bottom: 100px;
}
.left {
    margin-left: 23.5%
}