html{
    scroll-behavior: smooth;        
}
* {
    box-sizing: border-box;
}
.first-talk{
    display: flex;
    align-items: center;
    font-size: 30px;
    height: 300px;
    width: 75%;
    box-sizing: border-box;
    text-align: center;
    margin-left: 12%;
    /* font-family: 'Gloria Hallelujah', cursive; */
}

body{
    background-image: url("audio-black-and-white-black-and-white-6966\ \(1\).jpg");
    background-attachment: fixed;
    background-size: cover;
    
}



#header{
    border-top: 3px solid;
    color: black;
   
    background-color: whitesmoke;   

}
#search-bar{
      width: 90px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 10px;
      outline:none;
      padding: 12px 14px;
      transition: 0.6s ease-in-out;
      font-size: 20px;
      position: fixed;
      top: 100px;
      z-index: 999;
      

}   
#search-bar:focus{
    width: 300px;
    background-color: pink;
    height: 50px;
}



#navigation-bar{
    width: 100%;
    height: 50px;
    display: flex;
    color: black;
    /* justify-content: space-between  ; */
    border-radius: 20px;
    justify-content: space-between;
}
#navigation-bar a{
    text-decoration: none;
    /* margin-left: 110px; */
    font-size: 30px;
    border-right: 3px solid;
    padding-right: 206px;
    color: black ;
    text-transform: capitalize;
    background-color: lightgray;
}
#content{
    width: 100%;
    height: 1000px;
    /* background-color: black; */
    margin-top: 10px; 
    /* position: relative; */
    display: flex;
    justify-content: center;
    border: 4px solid gainsboro;
    border-radius: 50px;
    border-bottom: none
}
#recomened{
    background-color:lightcoral;
    height:  1000px;
    width: 25%;
   position: relative;
    
}


#mood{
    height: 100px;
    width: 100%;
    background-color:lavender;  
    /* position: absolute; */
   font-size: 50px;
   /* border: 0.5px solid;*/
   border-radius:100px; 
   text-align: center;

   

}
.mood-icon{
    
    height: 300px;
    width: 375px;
    padding-right: 190px;

}
.mood-word{
    font-size: 60px;
   padding-right: 80px;
    padding-bottom: 30px;
}
/* #seperated-bar{
    height: 50px;
    width: 100%;
    background-color: black;
} */
#body{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
#mv{
    height: 520px;
    width: 80%;
    /* margin-left: 20%; */
    display: flex;
    justify-content: center;
    
    
}
.ml10{
    margin-left: 10%
}

.display-left{
    margin-bottom: 100px; 
    position: relative;
    left: 185px;
}
.up {
    display: inline-block;
    position: relative;
    bottom: 150px;
    border: 2px solid;
    border-radius: 10px;
}
#mv {
    display: inline-block;
    position: relative;
    left: 20%
}
.mvs {
    margin-top: 50px;
}
.icon-container{
    height: 300px;
    width: 100%
}
.mr30{
    margin-right:60px;
}
.ml30{
    margin-left: 110px;
}
.title{
    text-align: center;
    font-size: 90px;
}
#gerne{
    width: 100%;
    height: 500px;;
}
.column{
    /* float: left; */
    width: 30%;
    height: 300px;
    border: 5px dashed  ;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.row{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.g-content{
    
}
.left {
    display: inline-block;
    position: relative;
    bottom: 250px;
    border: 2px ;
    border-radius: 10px;
    left: 22%;
    z-index: 999;
    background-color: rgb(234, 234,234);
    font-size: 30px;
    height: 100px;
    width: 50px;
}
.right {
    display: inline-block;
    position: relative;
    bottom: 250px;
    border: 2px ;
    border-radius: 10px;
    left: -6%;
    z-index: 999;
    background-color:rgb(234, 234,234) ;
    font-size: 30px;
    height: 100px;
    width: 50px;
}
.artist{
    width: 100%;
    height: 500px;

}
.mvSlide{
    width: 100%;
    height: 600px;
    border: 4px solid gainsboro;
    border-radius: 100px;
    border-top:none;
}
.a-img{
    width: 105%;
    height: 300px;
    border-radius: 50px;
    display: block;
}
.see-more{
    text-align: center;
    font-size: 40px;
}
.a-name{
    font-size: 50px;
}
#mood-vid {
    position: fixed;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}