body{
    /* background-image: url("https://i.ytimg.com/vi/Xpgj8xRy2yk/maxresdefault.jpg"); */
    /* background-image: url("https://i.ytimg.com/vi/mFW-5xeEb0g/maxresdefault.jpg"); */
    /* background-size: cover; */
   
  
}



#header{
    border-top: 3px solid;
    color: black;
   
    background-color: whitesmoke;   

}
#search-bar{
      width: 90px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 10px;
      outline:none;
      padding: 12px 14px;
      transition: 0.6s ease-in-out;
      font-size: 20px;
      position: fixed;
      

}   
#search-bar:focus{
    width: 300px;
    background-color: pink;
    height: 50px;
}



#navigation-bar{
    width: 100%;
    height: 50px;
  
    display: flex;
    color: black;
    
    border-radius: 10px;
}
div a{
    text-decoration: none;
    margin-left: 110px;
    font-size: 30px;
    border-right: 3px solid;
    padding-right: 160px;
    color: black ;
    text-transform: capitalize;
}
#content{
    width: 75%;
    height: 1000px;
    /* background-color: black; */
    margin-top: 10px; 
    position: relative;
    display: flex;
    justify-content: center;
}
#recomened{
    background-color:lightcoral;
    height: 500px;
    width: 25%;
    
}


#mood{
    height: 500px;
    width: 90%;
    background-color:lavender;
     position: absolute;
   font-size: 50px;
   /* border: 0.5px solid;*/
   border-radius: 100px; 
   text-align: center;

   

}
.mood-icon{
    
    height: 300px;
    width: 300px;
    padding-right: 100px;

}
.mood-word{
    font-size: 60px;
   padding-right: 80px;
    padding-bottom: 30px;
}
/* #seperated-bar{
    height: 50px;
    width: 100%;
    background-color: black;
} */
#body{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
