body{
    background: url(/Users/doanvietanh/Documents/ct47/musicweb/Music-web-VietAnhAndF/black-and-white-gray-guitar-8263.jpg);
    background-size:cover;
    background-attachment: fixed;
}
#title{
    font-size: 70px;

}
.sep-line{
    border: 2px solid; 
}
.content{
    width: 2100px;
    width: 100%;
}
.child{
    width: 100%;
    height: 700px;
}
.content-title{
    text-align: center;
    font-size: 90px;
    color: steelblue;
}
.mv-container{
    width: 100%;
    height: 600px;
    border: 3px solid whitesmoke;
    border-radius: 50px;
    border-bottom: none;
    display: flex;  
}
.column{
    width: 25%;
    height: 600px;
}
.small-mv{
    width: 100%;
    height: 200px;
    border-bottom: 3px solid whitesmoke;
    border-radius: 50px;
    text-align: center;
    
    
}
.big-mv{
    height:  600px;
    width: 75%;
    border-right: 3px solid whitesmoke;
    border-radius: 50px;
  
    text-align: center;
}
.none-bot{
    border-bottom: none;
}