body{
    background-image: url("audio-black-and-white-black-and-white-6966\ \(1\).jpg");
    background-attachment: fixed;
    background-size: cover;
    
}
#title{
    font-size: 70px;

}
.sep-line{
    border: 2px solid; 
}
.content{
    height: 2100px;
    width: 100%;
}
.child{
    width: 100%;
    height: 700px;
}
.content-title{
    text-align: center;
    font-size: 90px;
    color: steelblue;
}
.mv-container{
    width: 100%;
    height: 600px;
    border: 3px solid whitesmoke;
    border-radius: 50px;
    border-bottom: none;
    display: flex;  
}
.column{
    width: 25%;
    height: 600px;
}
.small-mv{
    width: 100%;
    height: 200px;
    border-bottom: 3px solid whitesmoke;
    border-radius: 50px;
    text-align: center;
    
    
}
.big-mv{
    height:  600px;
    width: 75%;
    border-right: 3px solid;
    border-radius: 50px;
    color: whitesmoke;
    text-align: center;
}
.none-bot{
    border-bottom: none;
}