body{
    background-image: url("audio-black-and-white-black-and-white-6966\ \(1\).jpg");
    background-attachment: fixed;
    background-size: cover;
    
}
#title{
    font-size: 70px;

}
.sep-line{
    border: 2px solid; 
}
.content{
    height: 2100px;
    width: 100%;
}
.child{
    width: 100%;
    height: 1000vh;
}
.content-title{
    text-align: center;
    font-size: 90px;
    color: steelblue;
}
.mv-container{
    width: 100%;
    height: auto;
    border: 3px solid whitesmoke;
    border-radius: 50px;
    overflow: hidden;
    padding: 20px;

}
.column{
    width: 100%;
    height: 33,33%;
    display: flex;
    box-sizing: border-box; 
}
.small-mv{
    width: 100%;
    height: 200px;
    border-bottom: 3px solid whitesmoke;
    border-radius: 50px;
    text-align: center;
    
    
}
.none-bot{
    border-bottom: none;
}

/* ADD */
* {
    box-sizing: border-box;
}

#indie {
    display: flex;
    flex-wrap: wrap;
}

.iframe {
    width: calc(100% / 4);
    padding: 7px;
    border-radius: 20%;
    overflow: hidden;
}

.small-mv-vid {
    width: 100%;
}
#pop{
    display: flex;
    flex-wrap: wrap;
}