body{
    background-image: url("https://images.pexels.com/photos/1661689/pexels-photo-1661689.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    
}
#artist {
    font-size: 70px;
    font-family: 'Caveat', cursive;
}
#line {
    border: 1px solid;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.column{
    width: 18%;
    height: 200px;
    /* border: 5px none; */
    border: 1px solid;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    color: black;
    overflow: hidden;
}
.a-img {
    height: 200px;
    width: 100%;
}